/***************************************/
/* BELOW 1440p (Large laptop) */
/***************************************/

@media (max-width: 90em) {
	html {
		font-size: 46.875%;
	}
}

/***************************************/
/* BELOW 1024px (Small Laptop)*/
/***************************************/

@media (max-width: 64em) {
	html {
		font-size: 36%;
	}

	.hero__activity--chart {
		display: none;
	}

	.hero__name {
		margin: 0;
		height: 50%;
		justify-content: center;
		align-items: center;
	}

	.hero__name--title {
		font-size: 7.2rem;
	}

	.hero__name--role {
		font-size: 4.8rem;
	}

	.nav__icon {
		height: 8.4rem;
		width: 8.4rem;
	}

	.nav__icon ion-icon {
		height: 5.2rem;
		width: 5.2rem;
	}

	.projects__item--img {
		width: 55.55rem;
		height: 28rem;
	}

	.projects__item__content--desc {
		font-size: 2.4rem;
	}
}

/***************************************/
/* BELOW 768px (Mobile)*/
/***************************************/

@media (max-width: 47em) {
	.skills {
		padding: 2rem;
		display: grid;
		justify-items: center;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		height: 30vh;
	}

	.hero__name {
		margin-top: 10rem;
	}

	.projects__item__content--desc {
		font-size: 3.2rem;
	}

	.projects__item--img {
		display: none;
	}

	.button {
		font-size: 2.6rem;
	}

	.skills__icon {
		height: 14rem;
		width: 14rem;
	}

	.skills__icon--img {
		height: 7.2rem;
		width: 7.2rem;
	}

	.hero {
		height: 65vh;
	}

	.projects__item__content {
		width: 80%;
	}
	.projects__item {
		justify-content: center;
	}
}

/***************************************/
/* BELOW 304px (Small mobile)*/
/***************************************/

@media (max-width: 24em) {
	.projects__item__content--title {
		font-size: 3.2rem;
	}

	.hero__name--title {
		font-size: 5.4rem;
	}

	.skills__icon {
		height: 9.6rem;
		width: 9.6rem;
	}

	.skills__icon--img {
		height: 4.8rem;
		width: 4.8rem;
	}
}
