/****************/
/* HERO SECTION */
/****************/

.hero {
	height: 80vh;
	width: 100vw;
	background-color: #01283c;
	display: flex;
	flex-direction: column;
}

.hero__nav {
	height: 6.4rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 2.4rem;
	padding: 3.6rem 3.6rem 0 0;
}

.nav__icon {
	height: 5.2rem;
	width: 5.2rem;
	border-radius: 1.2rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	color: #359dd2;
	background-color: #001a28;
	font-size: 3.6rem;
}

.nav__icon:hover {
	color: #001a28;
	background-color: #359dd2;
}

.hero__name {
	display: flex;
	flex-direction: column;
	height: 10rem;
	margin: 20rem 0 0 26.4rem;
}

.hero__name--title {
	font-size: 5.2rem;
	color: #b3daee;
	font-weight: 700;
}

.hero__name--role {
	font-size: 2.4rem;
	color: #359dd2;
	font-weight: 300;
}

.hero__activity {
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-top: 15rem;
	overflow: hidden;
}

.hero__activity--chart {
	background-color: #ffffff;
	border-radius: 1.2rem;
	width: 100rem;
	padding: 0.8rem;
}

/******************/
/* SKILLS SECTION */
/******************/

.skills {
	background-color: #001a28;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 10rem;
}

.skills__icon {
	height: 12rem;
	width: 12rem;
	padding: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000d14;
	border-radius: 50%;
	transition: all 0.3s;
}

.skills__icon:hover {
	transform: translateY(-10%);
	background-color: #014264;
	box-shadow: 0 0 1.2rem 0.4rem #000d14;
}

.skills__icon--img {
	height: 6.4rem;
	width: 6.4rem;
	overflow: hidden;
}

/***********************/
/* GENEREAL COMPONENTS */
/***********************/

/***********************/
/* GENEREAL COMPONENTS */
/***********************/

/***********************/
/* GENEREAL COMPONENTS */
/***********************/

/***********************/
/* GENEREAL COMPONENTS */
/***********************/

/***********************/
/* GENEREAL COMPONENTS */
/***********************/
