/****************/
/* HERO SECTION */
/****************/

.hero {
	height: 80vh;
	width: 100vw;
	background-color: #01283c;
	display: flex;
	flex-direction: column;
}

.hero__nav {
	height: 6.4rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 2.4rem;
	padding: 3.6rem 3.6rem 0 0;
}

.nav__icon {
	height: 5.2rem;
	width: 5.2rem;
	border-radius: 1.2rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	color: #359dd2;
	background-color: #001a28;
	font-size: 3.6rem;
}

.nav__icon:hover {
	color: #001a28;
	background-color: #359dd2;
	box-shadow: 0 0 0.4rem 0.2rem #000d14;
	cursor: pointer;
}

.hero__name {
	display: flex;
	flex-direction: column;
	height: 10rem;
	margin: 20rem 0 0 26.4rem;
}

.hero__name--title {
	font-size: 5.2rem;
	color: #b3daee;
	font-weight: 700;
}

.hero__name--role {
	font-size: 2.4rem;
	color: #359dd2;
	font-weight: 300;
}

.hero__activity {
	width: 100vw;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin: auto 0;
}

.hero__activity--chart {
	background-color: #ffffff;
	border-radius: 1.2rem;
	width: 120rem;
	padding: 0.8rem;
}

/******************/
/* SKILLS SECTION */
/******************/

.skills {
	background-color: #001a28;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 10rem;
}

.skills__icon {
	height: 12rem;
	width: 12rem;
	padding: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000d14;
	border-radius: 50%;
	transition: all 0.3s;
}

.skills__icon:hover {
	transform: translateY(-10%);
	background-color: #014f77;
	box-shadow: 0 0 1.2rem 0.4rem #000d14;
}

.skills__icon--img {
	height: 6.4rem;
	width: 6.4rem;
	overflow: hidden;
}

/********************/
/* PROJECTS SECTION */
/********************/

.projects {
	padding-top: 12.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 9.6rem;
	background-color: #013550;
	padding-bottom: 10rem;
}

.projects__item {
	display: flex;
	align-items: center;
	gap: 3.6rem;
}

.projects__item--img {
	width: 71.4rem;
	height: 36rem;
	object-fit: contain;
	transition: all 0.3s;
}

.projects__item--img:hover {
	transform: scale(1.4);
	box-shadow: 0 0 0.8rem 0.2rem #000d14;
	margin: 0 12.8rem;
}

.projects__item__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 48rem;
	padding: 1.8rem;
}

.projects__item__content__text {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.projects__item__content--title {
	font-size: 3.8rem;
	font-weight: 800;
	color: #e6f3f9;
	text-shadow: #001a28 0 0 1.8rem;
}
.projects__item__content--desc {
	background-color: #01283c;
	color: #b3daee;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.2;
	padding: 1.6rem;
	border-radius: 1.2rem;
}
.projects__item__content--important {
	color: #0284c7;
	font-weight: 600;
}
.projects__item__content__buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 0.8rem;
}

.button {
	font-size: 2.4rem;
	font-weight: 700;
	padding: 1.2rem 3.6rem;
	border-radius: 0.8rem;
	background-color: #001a28;
	color: #67b5dd;
	cursor: pointer;
}

.button:hover {
	background-color: #67b5dd;
	color: #001a28;
}
